label{
    display: grid;
    margin-bottom: 12px;
    font-size: large;
}
input,select{
    margin-top: 12px;
    height: 40px;
    padding-left: 10px;
    background-color: rgba(146, 136, 136, 0.349);
    border-radius: 6px;
}

input:hover,textarea:hover,select:hover{
    border: 1px solid;
    background-color: white;
    
}
